.chat {
  width: calc(100% - 200px);
}

.chat__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0001rem solid #ac9f9fda;
  padding: 0.75rem 1.4rem;
}

.chat__headerLeft > h5 {
  display: flex;
  align-items: center;
}

.chat__headerLeft > h6 {
  font-weight: 400;
  color: rgb(131, 131, 128);
  cursor: pointer;
}

.chat__headerLeft > h6:hover {
  color: rgb(62, 90, 167);
}

.chat__headerLeft .MuiSvgIcon-root {
  transform: scale(0.7);
  color: rgb(99, 97, 96);
  cursor: pointer;
}

.chat__headerRight {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat__headerRight > h3 {
  font-size: large;
  font-weight: 400;
  cursor: pointer;
  padding: 0.1rem 0.4rem;
  border-radius: 4px;
  margin-right: 0.4rem;
  margin-left: -0.7rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.chat__headerRight > h3:hover {
  background-color: #72217a57;
}

.chat__headerRight > .MuiSvgIcon-root {
  transform: scale(1.4);
  margin: 0 0.4rem;
  color: #444444f8;
  cursor: pointer;
  padding: 0.3rem;
}

.chat__headerRight > .MuiSvgIcon-root:hover {
  background-color: #80488557;
  border-radius: 4px;
}

::-webkit-scrollbar {
  behavior: bottom;
  width: 5px;
  border-radius: 6px; /* Remove scrollbar space */
  background: rgba(
    106,
    18,
    116,
    0.404
  ); /* Optional: just make scrollbar invisible */
}

.chat__messages {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 1rem;
  height: 70vh;
}

.message {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5rem 0;
  border-bottom: 0.0002rem solid hsla(240, 5%, 76%, 0.39);
}
.ownMessage {
  justify-content: flex-end;
}

.message__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 0.5rem;
}

.message__info span {
  font-weight: 400;
  font-size: small;
  color: #6b6a6a;
  margin-left: 0.6rem;
}

.message__info p {
  margin-top: 0.02rem;
  font-size: 0.9rem;
}

.message__text {
  max-width: 220px;
  object-fit: contain;
  overflow: hidden;
}

.message > img {
  object-fit: contain;
  width: 30px;
  border-radius: 999px;
}

.chatInput {
  position: fixed;
  bottom: 0;
  width: calc(100vw - 200px);
  padding: 1.5rem 1rem;
  z-index: 100;
  background-color: white;
}

.chatInput > form {
  display: flex;
}

.chatInput button {
  background-color: rgb(227, 182, 233);
  border-radius: 0;
}

.chatInput input {
  width: 100%;
  padding: 1rem 1.2rem;
  outline: none;
}

@media (max-width: 440px) {
  .chat {
    width: 100%;
  }
  .chatInput {
    width: 98%;
  }
}
