.search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 95vh;
  width: 100vw;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 24%,
    rgba(255, 208, 255, 1) 100%
  );
  background: url("https://d34u8crftukxnk.cloudfront.net/slackpress/prod/sites/6/LOB-Slack-Connect%402x.gif")
    center center;
  background-clip: border-box;
  overflow: hidden;
  object-fit: contain;
}

.search > div {
  width: 800px;
  max-width: 100vw;
  margin-top: 0.0002rem;
  font-weight: 500;
  color: #e6e0e9;
  background-color: rgb(99, 11, 87);
  padding: 1.2rem 2rem;
  border-radius: 2px;
  font-size: 1.4rem;
  box-shadow: 0 0px 20px -1px rgba(0, 0, 0, 0.514);
}

.svg {
  cursor: pointer;
  background-color: rgb(240, 134, 167);
  transform: scale(1.4);
  padding: 0.2rem;
  border-radius: 6px;
  transition: all 1s ease-in-out;
}

.svg:hover {
  transform: scale(1.5);
}

.search span {
  background-color: rgba(231, 41, 199, 0.178);
  color: black;
  padding: 0.2rem 0.3rem;
  border-radius: 6px;
}

.search__rooms a {
  text-decoration: none;
}

.search__rooms a > h4 {
  font-weight: 400;
  font-size: 1.3irem;
  color: #1ae7d6;
  transition: ease-in 0.3s;
}

.search__rooms a > h4:hover {
  text-decoration: underline;
  color: rgb(3, 10, 22);
  transform: scale(1.07);
}
