.sidebar {
  background-color: var(--slack-color);
  width: 200px;
  height: calc(100vh - 1.5rem);
  max-height: calc(100vh - 1.5rem);
  overflow-y: auto;
  color: white;
  z-index: 100;
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 0.8rem;
  border-bottom: 0.00001rem solid #afacac4d;
}

.sidebar__header:hover {
  background-color: #250425d3;
  opacity: 0.88;
}

.sidebar__header > h2 {
  font-size: 0.9rem;
  font-weight: 600;
}

.sidebar__header .MuiSvgIcon-root:last-child {
  transform: scale(1.2);
  background-color: white;
  color: #501653;
  border-radius: 999px;
  padding: 0.3rem;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.sidebar__header .MuiSvgIcon-root:last-child:hover {
  transform: scale(1.5);
}

.sidebar__body {
  padding: 1rem 0.7rem 0 0.7rem;
  color: #b9b8b6;
}

.sidebar__bodyBrowse {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sidebar__bodyBrowse > h3 {
  font-size: 0.9rem;
  font-weight: 400;
}

.sidebar__bodyChannels {
  margin-top: 0.4rem;
}

.sidebar__bodyChannelsChannel {
  padding: 0.3rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sidebar__bodyChannelsChannel:hover {
  background-color: #250425d3;
  opacity: 0.88;
}

.active {
  background: rgba(2, 0, 36, 0.281);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0) 0%,
    rgb(51, 51, 231) 48%,
    rgba(3, 1, 43, 0) 100%,
    rgb(9, 9, 121) 100%,
    rgb(0, 213, 255) 100%
  );
  color: white;
}

.sidebar__bodyChannelsChannel > span {
  padding: 0.1rem 0.4rem;
  background-color: #72217a57;
  border-radius: 4px;
  margin-right: 0.2rem;
}
.sidebar__bodyChannelsChannel > h5 {
  font-size: 0.75rem;
  font-weight: 400;
}

.channel__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.channel__form > input {
  padding: 0.5rem 0.9rem;
  margin-bottom: 1rem;
  width: 100%;
  color: #501653;
  border-radius: 4px;
  border: 0.0002rem solid var(--slack-color);
}

.channel__form > button {
  transition: 0.2s ease-in-out;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 0.5rem 1rem;
  color: aliceblue;
  background-color: var(--slack-color);
}

.channel__form > button:hover {
  transform: scale(1.1);
  opacity: 0.95;
}

.hide {
  display: none;
}

@media (max-width: 440px) {
  .sidebar {
    position: fixed;
    top: 2.25rem;
    left: 0;
    z-index: 100;
    box-shadow: 10px 0px 20px 5px rgba(0, 0, 0, 0.452);
  }

  .hide {
    display: none;
  }
}
