.welcome {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 94vh;
  width: 100vw;

  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 24%,
    rgba(255, 208, 255, 1) 100%
  );
  background: url("https://d34u8crftukxnk.cloudfront.net/slackpress/prod/sites/6/LOB-Slack-Connect%402x.gif")
    center center;
  background-clip: border-box;
  overflow: hidden;
  object-fit: contain;
}

.welcome > h1 {
  position: relative;
  font-weight: 600;
  width: 100%;
  color: rgb(224, 195, 231);
  background-color: rgba(99, 11, 87, 0.596);
  padding: 3rem 8rem;
  /* border-radius: 6px; */
  font-size: 1.5rem;
  box-shadow: 0 2px 20px -1px rgba(0, 0, 0, 0.315);
}

.welcome > h1 > .MuiSvgIcon-root {
  position: absolute;
  left: 4rem;
  top: 3.3rem;
  cursor: pointer;
  background-color: rgb(206, 20, 175);
  transform: scale(1.6);
  padding: 0.2rem;
  border-radius: 999px;
  transition: all 0.3s ease-in;
  box-shadow: 0 2px 20px -1px rgba(0, 0, 0, 0.514);
}

.welcome > h1 > .MuiSvgIcon-root:hover {
  transform: scale(2);
}

.welcome span {
  background-color: rgba(231, 41, 199, 0.178);
  color: black;
  padding: 0.2rem 0.3rem;
  border-radius: 6px;
}
